@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

.Pagina-Trem{
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}
.Trem-cab{
    display: flex;
    max-height: 100%;
    width: 100%;
    flex-wrap: wrap;
}
.Trem-ima{
    width: 100%;
    height: 31%; 
    background: fixed;
    background-image:url(artesanato-facil.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.Trem-per{
    border-radius: 50%;
    margin-top: 6%;
    margin-left: 3%;
    width: 15%;
    height: 90%;
}
.Tremnome{
    margin-top: 2%;
    margin-left: 6%;
    font-family: 'Bebas Neue', cursive;
    font-size:  1.9rem;
    text-decoration: none;
    font-weight: 70;
    font-style: normal;
}
.Trem-fotos{
    display: flex;
    margin-top:15%;
    margin-right: 5%;
    float: right;
    
}
.Trem-informaçoes{
    display: flex;
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
}
.Trem-quemsomos{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.texto-perfil1{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    text-align: justify;
  }
  .texto-perfil2{
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    text-align: justify;
    font-weight:bold;
  }
@media (max-width: 450px){
    .Trem-cab{
        height: 100%;
        width: 100%;
    }
    .Trem-ima{
        width: 100%;
        height: 15%; 
        background-image:url(artesanato-facil.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .Trem-per{
        border-radius: 50%;
        margin-top:50%;
        margin-left: 5%;
        width: 25%;
        height: 80%;
    }
    .Tremnome{
        margin-top: 2%;
        margin-left: 6%;
        font-family: 'Bebas Neue', cursive;
        font-size:  1rem;
        text-decoration: none;
        font-weight: 70;
        font-style: normal;
    }
    .Trem-fotos{
        margin-top: 6vh;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        float: center;
    }
    .Trem-informaçoes{
        display: flex;
        width: 100%;
        align-content: center;
        justify-content: center;
        align-items: center;
        float: center;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
        margin-top: 20%;
    }
    .Trem-quemsomos{
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20%;
    }
}
@media (max-width: 1200px){
    .Trem-cab{
        height: 100%;
        width: 100%;
    }
    .Trem-ima{
        width: 100%;
        height: 15%; 
        background-image:url(artesanato-facil.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .Trem-per{
        border-radius: 50%;
        margin-top: 7%;
        margin-left: 5%;
        width: 22%;
        height: 80%;
    }
    .Tremnome{
        margin-top: 2%;
        margin-left: 6%;
        font-family: 'Bebas Neue', cursive;
        font-size:  1rem;
        text-decoration: none;
        font-weight: 70;
        font-style: normal;
    }
    .Trem-fotos{
        margin-top: 6vh;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        float: center;
    }
    .Trem-informaçoes{
        display: flex;
        width: 100%;
        align-content: center;
        justify-content: center;
        align-items: center;
        float: center;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
        margin-top: 20%;
    }
    .Trem-quemsomos{
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 26%;
    }
}