@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.Pagina-QuemSomos {
  flex-wrap: wrap;
}

.Titulo-QuemSomos {
  font-family: "Bebas Neue", cursive;
  font-size: 4rem;
  text-decoration: none;
  font-weight: 70;
  font-style: normal;
  justify-content: center;
  background-color: rgb(229, 236, 243);
  margin-top: 3%;
  text-align: center;
}

.Textodeapresentação {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: justify;
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 4%;
}

.Pagina2 {
  display: flex;
  width: 100%;
}
.foto {
  width: 100%;
}

.Titulo-duvidas {
  font-family: "Bebas Neue", cursive;
  font-size: 4rem;
  text-decoration: none;
  font-weight: 70;
  font-style: normal;
  justify-content: center;
  background-color: rgb(229, 236, 243);
  margin-top: 3%;
  text-align: center;
}

.acordeao {
  margin-top: 45px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 3%;
}

.duvida {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.resposta {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}

@media (max-width: 450px) {
  .Pagina-QuemSomos {
    flex-wrap: wrap;
  }
  .acordeao {
    margin-top: 45px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
  }

  .duvida {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: bold;
  }
  .resposta {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
  }

  .Titulo-duvidas {
    font-family: "Bebas Neue", cursive;
    font-size: 4rem;
    text-decoration: none;
    font-weight: 70;
    font-style: normal;
    justify-content: center;
    background-color: rgb(229, 236, 243);
    margin-top: 3%;
    text-align: center;
  }
}
