.Drawer{
    width: 260px;
}

.avatar{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: center;
    color: black;
    font-size: 1.2rem;
}

.grid{
    display: flex;
    margin-left: 10px;
}

.logoavatar{
    display: flex;
}

.listText{
    color: #7ca494;
    margin-left: 15px;
}
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
.userName{
    font-family: 'Black Han Sans', arial, sans-serif;
    text-align: center;
    color: #fdffff;
    margin-left:auto;
    margin-right:auto;
    font-size: 2rem;
    font-family: 'Arial, Helvetica, sans-serif';
    width: 10em;
}

.userContainer{
    background:rgba(238, 238, 238, 0);
    height: 10vh;
    justify-content: center;
    align-items: center;
    
}


.barra{
    background-color:rgb(229, 236, 243); ;
    width: 100%;
    height: 100px;

}

.container{
    background:rgba(238, 238, 238, 0);
    height: 10vh;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.elemento{
    margin: auto;
}

.uni{
    display: flex;
    flex-direction: column;
}

.uni2{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

@media (max-width: 770px){

        .elemento{
            width: 100%;
            align-content: center;
            justify-content: center;
        }

        .e1{
            width: 75%;
        } 
        .e2{
            width: 25%;
        }

        .Drawer, .barra, .container{
            width: 100%;
        }

        .avatar, .logoavatar{
            width: 50%;
            font-size: .9rem;
        }

        .grid{
            width: 50%;
            height: 50%;
            margin-left: 5px;
        }
}