.Drawer{
    width: 260px;
}

.listText{
    color: #292525;
    margin-left: 15px;
}
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
.userName{
    font-family: 'Black Han Sans', arial, sans-serif;
    text-align: center;
    color: #343434;
    margin: 0;
    margin-right: 7px;
    font-size: 2rem;
    font-family: 'Arial, Helvetica, sans-serif';
    width: 10em;
}

.userContainer{
    display: flex;
    align-items: center;
    margin-left: 480px;   
}


