.Pagina-login{
    height: 100%;
    display: flex;
    align-items: center; /*Alinha o item na direção Y*/
    justify-content: center; /*Alinha o item na direção X*/
    background-color:#70c1b3;
    /*background-image: url("foto.png") ; Coloca foto no background   */

}

.box-login{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 300px;
    height: 500px;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color:#F5F5DC;
    border-radius: .5rem;
    box-shadow: 0 0 1.8rem rgb(0 0 0 / 15%);
    /*border-spacing: 1ex;*/
}
.Conteudo-box-login{
    margin: 10px;
}

/*
.box-logomarca{
    display: flex;
    align-items: left;
    
    width: 20px;
    height: 50px;
    
}*/

.login{
    align-items: center; /*Alinha o item na direção Y*/
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');


.Titulo-login{
    font-family: 'Black Han Sans', arial, sans-serif;
    text-align: center;

}

