.pag-home{
    display: flex;
    background-color: white;
    width:100%;
    height:100%;
    flex-wrap: wrap; /*Deixa um bloco abaixo do outro*/
}

.Home{
    width: 100%;
    justify-content: center;
    align-items: center;
}

.h2{
    display: flex;
    font-family:'Bebas Neue', cursive;
    size: 5rem;
    text-align: center;
    color: white;
}

.imagem{
    display: flex;
    width: 10vh;
    height: 10vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-section{
    display: flex;
    flex-direction: column;
}

.content {
    width: 100vw;
}

.Saiba-Mais-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: black;
    
    margin-bottom: 50px;
}
.navigation {
    height: 50px;
    size: 7rem;
    width: 100%;
    justify-content: center;
}

.titulo{
    size: 0.3rem;
    margin-left: 550px;
}

.cards {
    display: grid;
    grid-gap: auto;
    margin: 100%;
    margin-left: auto;
}

.card {
    display: grid;
    grid-template-rows: max-content 250px 1fr;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 80%;
}

.texto{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-align: center;
}
    
  
.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 200vh;
  margin-left: 50px;
  background-color: white;
  margin-bottom: 20px;
}

.h7{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-top: 10px;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 25px;
    background-color: rgb(229, 236, 243);    
}

.cidade{
    display: flex;
    width: 100%;
    height: 60vh;
    background-image: url(capa-resende-costa.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.box1{
    display: flex;
    width: 30vh;
    height: 30vh;
    margin-top: 15vh;
    margin-bottom: 15vh;

}

.images{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 20vh;
    margin-top: 0vh;
    width: 100%;
    height: 100%;
}


.nome{
    display: flex;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-right: 100 px;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
}

.bloco2{
    animation: efeito 5s ease infinite;
    color: #070807;
    text-align: center;
    width: 100%;
    background-color: #97BEB5; 
    font-family:'Bebas Neue', cursive;
    font-size: 4rem;
    text-decoration: none;
    font-weight: 70;
    font-style: normal;
    justify-content: center;
}


.box3{
    background-color:rgb(229, 236, 243); 
    width: 100%;
    align-content: center;
}

.h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    margin-left: 30px;
    margin-top: 20px;
    text-rendering: optimizelegibility;
    
}

.historia{
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;    
    margin-left: 45px;
    margin-bottom: 30px;
    margin-right: 45px
}

.fotocidade{
    width: 100%;
    height: auto;
}


@media (max-width: 600px)  { 

    .card, .historia,.titulo, .titulos, .Home, .box1, .box3, .navigation {
        width: 100%;
    }

    .pag-home{
        width: 100%;
        padding: 0px 0px 0px 0px;
    }

    .Home{
        width: 100%;
        padding: 0px 0px 0px 0px;
    }

    .cidade{
        display: none;
        background-image: url(igrejaresende.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;

    }

    .fotocidade{
    display: flex;
    width: 100%;
    height: auto;
    }

    .App{
        width: 90%;
        margin-left: 0px;
    }

    .bloco2{
        width: 100%;
        font-size: 3rem;

       
    }

    .h7{
        font-size: 2.7rem;
    }
    .textoh7{
        margin: 15px;
    }
    
    .images{
    display: flex; 
    margin-right: 20vh;
    margin-top: 20vh;
    width: 60%;
    /* margin-top: auto; */
    margin: 0px 5px 5px 5px;
}

.titulos{
    display:flex;
    width: 10%;
    font-size: 2rem;
    margin-right: 5px;
    margin-top: 5px;
    margin: 0px 0px 500px 0px;
}

.nome{
    font-size: 1rem;
    margin-top: 10px;
    
}

.Saiba-Mais-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 0px;
}

.main-section{
    display: flex;
    width: 100%;
}
.historia{
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;    
    width: auto;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px
}

.h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 1,8rem;
    margin-left: 30px;
    margin-top: 20px;
}

}

