.Home{
text-align: left;
display: flex;
    flex-direction: row;
    background-color:rgb(255, 222, 173);
    align-items: left;
    justify-content: center;
    flex-grow: 1;
    padding: 60px 30px 80px;
}