@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

.Trico-Textodeapresentação {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    text-align: justify;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 4%;
  }
  @media (max-width: 450px){
    .Trico-Textodeapresentação {
      font-family: "Montserrat", sans-serif;
      font-size: 10;
      margin-top: 1%;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 2%;
    }
  }
  @media (max-width: 1200px){
    .Trico-Textodeapresentação {
      font-family: "Montserrat", sans-serif;
      font-size: 10;
      margin-top: 1%;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 2%;
    }
  }