@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

.Pagina-Trico{
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}
.Trico-cab{
    display: flex;
    max-height: 100%;
    width: 100%;
    flex-wrap: wrap;
}
.Trico-ima{
    width: 100%;
    height: 31%; 
    background: fixed;
    background-image:url(img5.jpg);
    
}
.Trico-per{
    border-radius: 50%;
    margin-top: 6%;
    margin-left: 3%;
    width: 15%;
    height: 90%;
}
.Triconome{
    margin-top: 2%;
    margin-left: 6%;
    font-family: 'Bebas Neue', cursive;
    font-size:  1.9rem;
    text-decoration: none;
    font-weight: 70;
    font-style: normal;
}
.Trico-fotos{
    display: flex;
    margin-top:15%;
    margin-right: 5%;
    float: right;
    
}
.Trico-informaçoes{
    display: flex;
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
}
.Trico-quemsomos{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.texto-perfil1{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    text-align: justify;
  }
  .texto-perfil2{
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    text-align: justify;
    font-weight:bold;
  }

@media (max-width: 450px){
    .Trico-cab{
        height: 100%;
        width: 100%;
    }
    .Trico-ima{
        width: 100%;
        height: 15%; 
        background: fixed;
        background-image:url(img5.jpg);
    }
    .Trico-per{
        border-radius: 50%;
        margin-top:50%;
        margin-left: 5%;
        width: 25%;
        height: 80%;
    }
    .Triconome{
        margin-top: 2%;
        margin-left: 6%;
        font-family: 'Bebas Neue', cursive;
        font-size:  1rem;
        text-decoration: none;
        font-weight: 70;
        font-style: normal;
    }
    .Trico-fotos{
        margin-top: 6vh;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        float: center;
    }
    .Trico-informaçoes{
        display: flex;
        width: 100%;
        align-content: center;
        justify-content: center;
        align-items: center;
        float: center;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
        margin-top: 20%;
    }
    .Trico-quemsomos{
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20%;
    }
}
@media (max-width: 1200px){
    .Trico-cab{
        height: 100%;
        width: 100%;
    }
    .Trico-ima{
        width: 100%;
        height: 15%; 
        background: fixed;
        background-image:url(img5.jpg);
    }
    .Trico-per{
        border-radius: 50%;
        margin-top: 7%;
        margin-left: 5%;
        width: 22%;
        height: 80%;
    }
    .Triconome{
        margin-top: 2%;
        margin-left: 6%;
        font-family: 'Bebas Neue', cursive;
        font-size:  1rem;
        text-decoration: none;
        font-weight: 70;
        font-style: normal;
    }
    .Trico-fotos{
        margin-top: 6vh;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        float: center;
    }
    .Trico-informaçoes{
        display: flex;
        width: 100%;
        align-content: center;
        justify-content: center;
        align-items: center;
        float: center;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
        margin-top: 20%;
    }
    .Trico-quemsomos{
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 26%;
    }
}